[submodule "projects/mastodon"]
	path = projects/mastodon
	url = https://github.com/mastodon/mastodon.git
[submodule "projects/chatwoot"]
	path = projects/chatwoot
	url = https://github.com/chatwoot/chatwoot.git
[submodule "projects/discourse"]
	path = projects/discourse
	url = https://github.com/discourse/discourse.git
[submodule "projects/forem"]
	path = projects/forem
	url = https://github.com/forem/forem.git
