[submodule "projects/mastodon"]
	path = projects/mastodon
	url = https://github.com/mastodon/mastodon.git
[submodule "projects/chatwoot"]
	path = projects/chatwoot
	url = https://github.com/chatwoot/chatwoot.git
[submodule "projects/discourse"]
	path = projects/discourse
	url = git@github.com:discourse/discourse.git
